# Server uptime monitoring
*/15 * * * * curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/XXX

# OneDrive Sync
0 */1 * * * rclone sync OneDrive: /mnt/Vault/OneDrive --log-file /mnt/Vault/Logs/OneDrive-Sync --log-level INFO && curl -fsS -m 10 --retry 5 -o /dev/null http://10.10.0.8:9500/ping/bb727c24-9105-41f4-b8d4-d987bfb94403

# UPS
*/5 * * * * /home/$(whoami)/HomeServer/Scripts/ups.sh

# Apps
0 0 */2 * * sudo rclone sync /mnt/Vault/Apps/ gjbackupst:/apps --log-file /mnt/Vault/Logs/Apps-Sync --log-level INFO --exclude=/Plex/Library/Application\ Support/Plex\ Media\ Server/{Media,Metadata,Cache}/ -P -L && curl -fsS -m 10 --retry 5 -o /dev/null http://10.10.0.8:9500/ping/a8f2ac14-3008-4dac-b7ee-238a0dc3d5a9
