services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:0.6.10
    container_name: open-webui
#    ports:
#      - "3055:8080"
    environment:
      - MICROSOFT_CLIENT_ID=${MICROSOFT_CLIENT_ID}
      - MICROSOFT_CLIENT_SECRET=${MICROSOFT_CLIENT_SECRET}
      - MICROSOFT_CLIENT_TENANT_ID=${MICROSOFT_CLIENT_TENANT_ID}
      - ENABLE_OAUTH_SIGNUP=True
      - ENABLE_OPENAI_API=True
      - OPENAI_API_BASE_URL=https://gabri-ma4hd9yd-eastus2.openai.azure.com
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GOOGLE_PSE_API_KEY=${GOOGLE_PSE_API_KEY}
      - GOOGLE_PSE_ENGINE_ID=${GOOGLE_PSE_ENGINE_ID}
      - WEB_SEARCH_ENGINE=google_pse
    volumes:
      - /Apps/open-webui/:/app/backend/data
    restart: unless-stopped

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ai.rule=Host(`ai.docker-1.gwebs.ca`)"
      - "traefik.http.routers.ai.entrypoints=websecure"
      - "traefik.http.routers.ai.tls=true"
      - "traefik.http.routers.ai.tls.certresolver=le"
      - "traefik.http.routers.ai-insecure.rule=Host(`ai.docker-1.gwebs.ca`)"
      - "traefik.http.routers.ai-insecure.entrypoints=web"
      - "traefik.http.routers.ai-insecure.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.services.ai.loadbalancer.server.port=8080"
    networks:
      - traefik_default

networks:
  traefik_default:
    external: true